#
# Format:
#
# <url> <md5sum> [<http-user>[:<http-password>]]

https://data.zeek.org/traces/2009-M57-day11-18.trace.gz
https://data.zeek.org/traces/2009-M57-day11-21.trace.gz
https://data.zeek.org/traces/ipv6.trace.gz
https://data.zeek.org/traces/CTU-SME-11-Experiment-VM-Microsoft-Windows7AD-1-malicious-cleaned.pcap.gz
